PLATFORM_JWT_SECRET=
ALLOWED_ORIGIN=
FEATURE_UPLOADS=false
NODE_ENV=development
PORT=3000
SA_SHOPIFY_STORE_NAME=sainternalstore7811121
SA_SHOPIFY_ACCESS_TOKEN=
SA_SHOPIFY_WEBHOOK_SECRET=
SM_SHOPIFY_STORE_DOMAIN=sainternalstore7811121.myshopify.com
SM_SHOPIFY_ACCESS_TOKEN=
SM_SHOPIFY_WEBHOOK_SECRET=
SA_SOURCE_DATABASE_URL=


